@page "/"
@using System.Text.RegularExpressions
@using Foresite.Services
@inject WhazzupService whazzup

<PageTitle>Foresite Home</PageTitle>

<p>There are @(whazzup.Data?.clients.pilots.Length ?? 0) pilots connected</p>

<table>
	<tr>
		<th>UserId</th>
		<th>Departure</th>
		<th>Arrival</th>
		<th>CallSign</th>
	</tr>

		@foreach (Pilot pilot in whazzup.Data?.clients.pilots ?? [])
		{
		<tr>
			<td>@pilot.userId</td>
			<td>@pilot.flightPlan?.departureId</td>
			<td>@pilot.flightPlan?.arrivalId</td>
			<td>@pilot.callsign</td>
		</tr>
		}
</table>
@code
{
	protected override void OnAfterRender(bool firstRender)
	{
		if (!firstRender)
			return;

		whazzup.DataUpdated += async _ => await InvokeAsync(StateHasChanged);
	}
}